footer {
  background-color: rgb(219, 217, 217);
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  margin-top: auto;
}

footer text {
  font-size: 10px;
}
footer text .boton-contacto {
  height: 20px;
  padding: 0px;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

main {
  overflow-y: hidden;
  overflow-x: hidden;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .faq {
  justify-content: space-around;
}

body {
  background: url(imagenes/Background.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 40px;
}

nav {
  background-color: rgb(219, 217, 217);
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 3px;
  text-transform: capitalize;
}
nav ul li li a:hover {
  background-color: rgb(155, 153, 153);
  transition: 0.5s;
}
nav ul li .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  padding-top: 25px;
  cursor: pointer;
  display: none;
}
nav ul li #check {
  display: none;
}

.contenedor-principal-faq {
  position: absolute;
  align-self: center;
  top: 15%;
  display: flex;
  flex-direction: column;
}
.contenedor-principal-faq .contenedor-preguntas {
  background-color: #f2f2f2;
  height: 50vmin;
  width: 100vmin;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.contenedor-principal-faq .contenedor-preguntas .contenedor-pregunta {
  background-color: rgba(196, 196, 196, 0.5921568627);
  display: flex;
  flex-direction: column;
  margin-left: 33%;
  margin-top: 10%;
  position: relative;
  height: 10vmin;
  width: 15vmin;
  border-radius: 10%;
}
.contenedor-principal-faq .contenedor-pregunta:hover {
  cursor: pointer;
  scale: 1.2;
  transition: 0.5s ease all;
}

.svgfaq {
  scale: 0.7;
  justify-self: center;
}

.textofaq {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-respuestas {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
}
.contenedor-respuestas .contenedor-respuesta {
  background-color: #f2f2f2;
  padding: 20px;
}
.contenedor-respuestas .displaynone {
  display: none;
}

.faqbotones {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.botones {
  display: grid;
  grid-template-columns: 2 2;
  justify-content: space-around;
  margin: 10px;
}

.container-checkout .gran-contenedor-cartas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  left: -20%;
}

.contenedor-cartas {
  position: relative;
  margin-left: 25vh;
  margin-top: 20vh;
}
.contenedor-cartas .img-tienda {
  position: absolute;
  display: gird;
  border-radius: 10%;
}
.contenedor-cartas .img-tienda-g {
  width: 25vmin;
  aspect-ratio: 5/7;
  background: rgba(29, 29, 29, 0.5098039216);
}
.contenedor-cartas .img-tienda-g:nth-child(1) {
  transform: translateX(10%) rotate(3deg);
  z-index: 2;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-g:nth-child(2) {
  z-index: 7;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-g:nth-child(3) {
  transform: translateX(-15%) rotate(-3deg);
  z-index: 2;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-s:nth-child(4) {
  z-index: 2;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-s:nth-child(5) {
  z-index: 3;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-s:nth-child(6) {
  z-index: 2;
  transition: all 0.5s;
}
.contenedor-cartas .img-tienda-s {
  width: 10vmin;
  aspect-ratio: 5/7;
  background: rgba(29, 29, 29, 0.5098039216);
  left: 50%;
  top: 50%;
  transform: translate(70%, 70%);
}
.contenedor-cartas .img-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.contenedor-cartas:hover {
  cursor: pointer;
}
.contenedor-cartas:hover .img-tienda-g:nth-child(1) {
  transform: translateX(50%) rotate(6deg);
  transition: all 0.5s;
}
.contenedor-cartas:hover .img-tienda-g:nth-child(2) {
  transform: translateY(-20%);
  transition: all 0.5s;
}
.contenedor-cartas:hover .img-tienda-g:nth-child(3) {
  transform: translateX(-50%) rotate(-6deg);
  transition: all 0.5s;
}
.contenedor-cartas:hover .img-tienda-s:nth-child(4) {
  transform: translate(250%, -70%);
  rotate: 12deg;
  z-index: 3;
  transition: all 0.4s;
}
.contenedor-cartas:hover .img-tienda-s:nth-child(5) {
  transform: translate(-250%, 100%);
  rotate: -33deg;
  z-index: 4;
  transition: all 0.4s;
}
.contenedor-cartas:hover .img-tienda-s:nth-child(6) {
  transform: translate(-100%, -70%);
  rotate: -33deg;
  z-index: 5;
  transition: all 0.4s;
}
.contenedor-cartas:hover .img-tienda-s:nth-child(7) {
  transform: translate(350%, 50%);
  rotate: 33deg;
  z-index: 5;
  transition: all 0.4s;
}

.storebtn {
  text-decoration: none;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translate(0%, -50%);
  margin: 25% 0 0 47%;
  text-align: center;
  border: 1px solid #000;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  z-index: 1;
}

.carousel {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
.carousel img {
  width: 46vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}

.img-item:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
  nav .enlace {
    scale: 0.9;
  }
  nav .contenedor-cartas {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
  }
  nav ul {
    display: flex;
    gap: 1vmin;
  }
  nav ul li {
    position: relative;
  }
}
footer {
  justify-content: space-between;
  height: 5%;
}
footer .contacto {
  margin-right: 5vmin;
}

.storebtn {
  position: absolute;
  left: 0%;
  top: 20%;
  transform: translate(0%, -50%);
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  header .logo {
    scale: 0.7;
    position: relative;
    left: -20%;
  }
  header nav ul {
    display: flex;
    justify-content: space-around;
  }
  header nav ul li {
    scale: 0.9;
  }
  body .storebtn {
    position: absolute;
    left: -5%;
  }
  footer {
    height: 15vmin;
  }
}
.container-checkout {
  display: grid;
  row-gap: 0;
  column-gap: 0;
  position: absolute;
  left: 20%;
  top: 25%;
  aspect-ratio: 16/8;
  width: 120vmin;
  background-color: #ffffff;
  border-radius: 2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
}
.container-checkout .item-carrito:nth-child(4) {
  scale: 0.5;
  margin-left: 100px;
}
.container-checkout .checkoutcard {
  display: flex;
  isolation: isolate;
  background-color: rgba(169, 173, 173, 0.571);
  height: 200%;
  width: 80%;
  justify-self: flex-start;
}
.container-checkout .checkoutcard .btn-carrito {
  display: flex;
  height: 10%;
  width: 100%;
  top: -100%;
}
.container-checkout .titulo-carrito {
  position: relative;
  left: 35%;
}
.container-checkout .button-checkout {
  position: relative;
  left: 72%;
  justify-items: space-around;
}
.container-checkout .img-item-carrito {
  height: 20vmin;
  width: 20vmin;
}
.container-checkout .img-item-carrito {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5%;
}

/*# sourceMappingURL=styles.css.map */
